*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    margin: 10px;
    background-image: url(fondo.png);
    font-size: 0.75em;
}

.cabecera{
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: space-between;
}

.lateral{
    position: sticky;
    display:flex;
    top: 5vh;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 90vh;
    width: 35vw;
}

.lateral::-webkit-scrollbar{
    width: 0.5vw;
}
.lateral::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 100px;
}


.boton{
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 6vh;
    width: 30vw;
    border: none;
    background-color: black;
    border: solid 3px white;
    margin: auto;
}

.boton:hover{
    border-left: solid 3px white;
}

.boton:active{
    background-color: gray;
}

.contenedor_contenedorcarrucel{
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 60vw;
    height:min-content;
}

.carrucel{
    display: flex;
    width: 1380vw;
}

.carrucelcajas{
    text-align: center;
    justify-content: center;
    scroll-snap-align: start;
    box-sizing: border-box;
    width: 60vw;
    
}

.carrucelcajas img{
    width: 100%;
}

.carrucelcajas h2,h3{
    margin: 1.5vh 0;
} 

.carrucelcajas li,p{
    text-align: left;
}