*{
    margin: 0;
    padding: 0;
    color: white;
}


*::-webkit-scrollbar{
    background-color: black;
    width: 0.5em;
    height: 0.5em;
}
*::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 100px;
}


body{
    background-image: url(fondo.png);
    font-size: 0.75em;
}

header{
    height: 10vh;
}

.cabecera{
    text-align: center;
}

.contenedor{
    display: flex;
}

.lateral{
    direction: rtl;
    position: sticky;
    display:flex;
    top: 2vh;
    flex-wrap: wrap;
    overflow-y:scroll;
    height: 90vh;
    width: 32vw;
}

.boton{
    direction: ltr;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 10vh;
    width: 30vw;
    border: none;
    background-color: black;
    border: solid 2px white;
    margin: 0.5em auto;
}

.boton:hover{
    border-left: solid 3px white;
}

.boton:active{
    background-color: gray;
}

.contenedor_contenedorcarrucel{ 
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 60vw;
    margin: 1em auto;
    height: min-content;
}

.carrucel{
    display: flex;
    width: 1380vw;
}

.carrucelcajas{
    text-align: center;
    justify-content:space-around;
    scroll-snap-align: start;
    width: 60vw;
}

.carrucelcajas img{
    width: 75%;
    justify-content: center;
}

.carrucelcajas h2{

    margin: 0em auto 1em auto;
}

.descripcion{
    width: 100%;
    display: flex;
    margin: 1em 0;
    flex-wrap: wrap;
    justify-content:space-around;
}

.sip{
    width: 25em;
    margin-bottom: 0em;
}

.sip p{
    text-align: justify;
}

.fic{
    width: 25em;
    margin-bottom: 0em;
}

.fic li{
    text-align: left;
}