*{
    margin: 0;
    padding: 0;
    color: white;
}


*::-webkit-scrollbar{
    background-color: black;
    width: 0.5em;
    height: 0.5em;
}
*::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 100px;
}


body{
    background-image: url(fondo4.png);
    background-color: black;
    font-size: 0.75em;
}

header{
    height: 10vh;
}

.cabecera{
    text-align: center;
}

.contenedor{
    display: flex;
}

.lateral{
    direction: rtl;
    position: sticky;
    display:flex;
    justify-content: center;
    top: 2vh;
    margin: 1em auto;
    flex-wrap: wrap;
    overflow-y:scroll;
    height: 95vh;
    width: 34vw;
    border: white solid;
}


.boton{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    
    text-decoration: none;
    text-align: center;

    height: 3em;
    width: 30vw;
    
    background-color: black;
    border: solid white 1px;
    margin: 0.5em 0em;
}

.boton:hover{
    border-left: solid 3px white;
}

.boton:active{
    background-color: gray;
}

.contenedor_contenedorcarrucel{ 
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 60vw;
    margin: 1em auto;
    height: min-content;
}

.carrucel{
    display: flex;
    width: 1380vw;
}

.carrucelcajas{
    text-align: center;
    justify-content:space-around;
    scroll-snap-align: start;
    width: 60vw;
}

.carrucelcajas img{
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    border: solid white;
}

.carrucelcajas h2{

    margin: 0em auto 1em auto;
}

.descripcion{
    width: 100%;
    display: flex;
    margin: 1em 0;
    flex-wrap: wrap;
    justify-content:space-around;
}

.sip{
    width: 25em;
    margin-bottom: 0em;
}

.sip p{
    text-align: justify;
    margin: 0.5em;
}

.fic{
    width: 25em;
    margin: 0.5em;
}

.fic li{
    text-align: left;
}